p {
    color: yellow;
}
.christmastree {
    width: 200px;
    height: 300px;
}
img {
    max-width: 100%;
    max-height: 100%;
}
div {
    height: 300px;
    width: 300px;
}
.note {
    text-align: center;
}
.tooth {
    text-align: center;
}
.extra {
    color: green;
}
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: montserrat;
}
nav {
    background-color: red;
    height: 65px;
}
label {
    color: white;
    font-size: 35px;
    padding: 30px;
    line-height: 65px;
}
nav ul {
    float: right;
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
a {
    color: blue;
    font-size: 20px;
    text-transform: uppercase;
}
a:hover {
    background:red;
}
.work {
    color: white;
    font-size: 35px;
    text-transform: none;
}
.checkbtn {
    font-size: 30px;
    color: white;

}